#messages {
  text-transform: uppercase;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-decoration: underline 5px #ffd700;
}

.contact-form-wrapper {
  padding: 0px 0;
}

.contact-form {
  padding: 30px 40px;
  background-image: url("https://yuli016.github.io/yulipantoja/img/purple-diamond.svg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 12px;
  max-width: 400px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: #ffd700;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 8px #ffd700;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.contact-form .description {
  color: #aeb4b9;
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: 2px solid #ffd700;
  border-radius: 4px;
  color: #4B0082;
  text-transform: uppercase;
  padding: 10px 60px;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  text-align: center;
  font-weight: bold;
  background-image: url("https://yuli016.github.io/yulipantoja/img/white-diamond.svg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
}

.contact-form .submit-button-wrapper input:hover {
  border: 2px solid white;
  background-image: url("https://yuli016.github.io/yulipantoja/img/yellow-diamond.svg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
}

.p-3s {
    padding: 0.5rem;
    margin: -10px;
}

.border-whites {
    border-color: #ffd700 2px solid;
}
