footer {
  background-color: purple;
  width: 100vw;
  margin: 0;
  padding: 1em;
}

h2.contact {
  color: #ffd700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p.contact {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}
