.text-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
  }

.scroll-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll-hide::-webkit-scrollbar {
    display: none;
}

.hidden-text {
    transition: .2s;
    transform: translateY(1em);
}

#description {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vw;
  color: black;
  padding: 2vh 2vw 2vh 2vw;
}

.row {
  --mdb-gutter-x: 0;
  --mdb-gutter-y: 0;
}

.gridbox {
  border: 3px solid #ffd700;
}
